<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.5.0" targetFramework="net452" />
  <package id="Google.DataTable.Net.Wrapper" version="3.1.2.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="NodaTime" version="2.3.0" targetFramework="net452" />
  <package id="XPlot.GoogleCharts" version="1.4.5" targetFramework="net452" />
</packages>